<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
  </div>
</div>
<footer class="footer text-center">
  <div class="container">
    <p class="text-muted">Copyright © <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer</a>
by <a href="https://www.facebook.com/qnguyen3496">Quan Nguyen</a></p>
  </div>
</footer>